<form action="/questions" method="post">
  <input type="test" name="question[title]" placeholder="Title">
  <input type="text" name="question[content]" placeholder="Question">
  
  <input type="submit" value="Post!">
</form>
