
body {
  font-family: helvetica;
  display: flex;
}

.container {
    margin: 70px;
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
}

div#questions {
  border-bottom: .5px solid black;
  padding: 20px;
  color: #ccebff;
  underline: false;
}

a:visited {
    color: #73e600;
}
a:hover {
  color: #ccebff;
}

.big_inputs {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
    background-color: #ccebff;
}

form.inline_block {
  display: inline-block;
}

div#home_bar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333333;
  padding: 7px;
}

div#user_tag



/*.answer_list_item {
  width: 80%;
  border: 1px solid gray;
  margin: 5px
}*/
