
body {
  font-family: helvetica;
  display: flex;
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

div#questions {
  border-bottom: .5px solid black;
  padding: 20px;
  color: #ccebff;
  underline: false;
}

a:hover {
  color: #ccebff;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #ccebff;
}
