<div class="container">
<div class="answer-container">
<form id = "answer_form" action="/answers" method="post">
  <input type="test" name="answer[title]" placeholder="Title">
  <input type="text" name="answer[content]" placeholder="Answer">

  <input type="submit" value="Answer It!">
</form>
</div>
</div>
