<div class = "individual_comment">
  <p><%=comment.content%> <span class="comment_subtext">-<a class = "author_name" href="/users/<%=comment.user.id%>"><%=comment.user.full_name%></a></span>
  <%if logged_in?%>
    <%if logged_in_user == comment.user%>
      <a class = 'delete_item' href="/comments/<%= comment.id %>/delete">delete</a></p>
    <%end%>
  <%end%>
</div>
