<div class="container">
  <form class="comments" action="/answers/<%=@answer.id%>/comments/new" method="post">
    <input type="textarea" name="comment[content]" placeholder="Your Comment Here">
    <input type="submit" name="submit" value="submit">
    <button id='cancel_comment_button'>cancel</button>
  </form>
</div>
