<div class="container">
  <h1>Welcome to Ghost-Overflow!</h1>
  <p>Hello, world!</p>
</div>


<marquee behavior="scroll" direction="right"><img src="http://www.favicon.cc/logo3d/874477.png"/></marquee>
