<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>GhostOverfloOooOOw</title>

  <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/>
</head>
<body>
  <div id='home_bar'>
    <a href="/">Home |</a>
    <a href="/questions">Questions |</a>
      <% if logged_in? %>
        <a href="/questions/new">Ask a Question |</a>
        <a href="/logout">Logout |</a>
      <% else %>
        <a href="/login">Login |</a>
        <a href="/users/new">Register |</a>
      <% end %>
      </div>
      <% if logged_in? %>
      <div id="user_tag" class="current_user">
        <p> Currently logged in as <%= logged_in_user.full_name %> </p>
      <% end %>
  </div>
  <%= yield %>
</body>
</html>
