<div id='login'>
  <h4>Welcome back! </h4>


  <form id='login-form' action="/login" method="post">
    <input type="text" name="email" placeholder="E-Mail"> <br><br>
    <input type="password" name="password" placeholder="Password"> <br><br>
    <input type="submit" name="login" value="Login">
  </form>
</div>
