<div class='container'>
  <h4>Welcome back! </h4>
  <% if @errors %>
  <ul>
    <%@errors.each do |error |%>
    <li><%=error%></li>
    <%end%>
  <%end%>
  </ul>
  <form  action="/login" method="post">
    <input class = 'big_inputs' type="text" name="email" placeholder="E-Mail"> <br><br>
    <input class = 'big_inputs' type="password" name="password" placeholder="Password"> <br><br>
    <input class = 'big_inputs' class="big big_button" type="submit" name="login" value="Login">
  </form>
</div>
