<form id="registration_form" action="/users/new" method="post">
  <input type="text" name="full_name" placeholder="full name"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="password" name="password_confirmation" placeholder="password confirmation"><br>
  <input type="submit"><br>
</form>
