<div class='container'>
  <form class = 'big_inputs' id="registration_form" action="/users/new" method="post">
    <br>
    <input class = 'big_inputs' type="text" name="full_name" placeholder="Full Name"><br>
    <input class = 'big_inputs' type="text" name="email" placeholder="Email"><br>
    <input class = 'big_inputs' type="password" name="password" placeholder="Password"><br>
    <input class = 'big_inputs' type="password" name="password_confirmation" placeholder="Confirm Password"><br>
    <input class = 'big_inputs' class="big big_button" type="submit"><br>
  </form>
</div>
