<div class='container'>
  <form id="registration_form" action="/users/new" method="post">
    <br> Name <br>
    <input type="text" name="full_name" placeholder="Full Name"><br>
    Email <br><br>
    <input type="text" name="email" placeholder="Email"><br>
    
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="password_confirmation" placeholder="Confirm Password"><br>
    <input type="submit"><br>
  </form>
</div>
